/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

:root {
	--tonic: #1D6154;
}

body {
	position: relative;
}

.icon {
	height: 18px;
}
.icon figure {
	width: 100%;
	height: 100%;
	fill: white;
}

.admin-banner {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 56px;
	background-color: black;
	color: white;
}
.admin-banner .centered-wrapper {
	display: flex;
	align-items: center;
	column-gap: .75em;
}
.admin-banner .centered-wrapper span {
	font-size: 14px;
	font-family: 'Work Sans';
}
.admin-banner .centered-wrapper button {
	border: none;
	border-radius: 9999px;
	padding: 8px 12px;
	font-family: 'Work Sans';
	cursor: pointer;
}
button.btn-editor {
	display: flex;
	align-items: center;
	column-gap: .5em;
	border: none;
	background-color: transparent;
}
button.btn-editor:hover span {
	text-decoration: underline;
}
button.btn-editor .icon figure {
	fill: black;
}
button.btn-editor span {
	font-family: 'Work Sans';
}
article#introductionBio button {
	margin-bottom: 2em;
}
#introductionImage button {
	margin: 1em 0 0 10%;
}

#app {
	max-width: 1140px;
	margin: 0 auto;
	font-family: 'Work Sans';
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
	text-align: center;
	margin-bottom: 1em;
	justify-content: center;
	column-gap: 1em;
}

ul.filters-container {
	display: flex;
	flex-wrap: wrap;
	padding: 16px;
	width: auto;
	column-gap: 16px;
	justify-content: center;
}
ul.filters-container li {
	display: flex;
	overflow: hidden;
}
ul.filters-container li button {
	display: flex;
	border: none;
	background-color: transparent;
	color: #1D6154;
	padding: 8px 12px;
	background-color: #fff;
	cursor: pointer;
	border-radius: 9999px;
	user-select: none;
	font-family: 'Syne', sans-serif;
	border: solid 2px #1D6154;
	transition: color .15s ease, background-color .15s ease;
}
ul.filters-container li button.active {
	cursor: default;
	background-color: #1D6154;
	color: #fff;
	pointer-events: none;
}
ul.filters-container li:hover button {
	background-color: #1D6154;
	transition: color .15s ease, background-color .15s ease;
	color: #fff;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#authentication {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5em 0;
}
#authentication form {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 33%;
	width: 100%;
	row-gap: 2.5em;
}
#authentication form .errors {
	top: 2.5em;
	display: flex;
	justify-content: center;
	color: #ff6161;
	width: 100%;
	user-select: none;
	font-weight: 600;
}
#authentication form h2 {
	font-size: 2.142857142857143em;
}
#authentication form .form-group {
	display: flex;
	flex-direction: column;
	row-gap: .5em;
	width: 100%;
}
#authentication form .form-group label {
	font-family: 'Work Sans';
	font-weight: 500;
}
#authentication form .form-group input {
	display: flex;
	padding: 16px 8px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}
#authentication form button {
	display: flex;
	border-radius: 9999px;
	justify-content: center;
	width: 50%;
	background-color: var(--tonic);
	border: none;
	padding: 8px 0;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Syne', sans-serif;
	font-weight: 400;
	color: white;
}
#authentication form a {
	color: black;
	font-weight: 500;
	font-size: 13px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}